<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Application</title>
    <link rel="stylesheet" type="text/css" href="enroll.css">
</head>

<body>
    <form class="box" action="index.html" method="post">
        <h1>Enroll</h1>
        <input type="text" name="" placeholder="ID">
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="submit" name="" value="Enroll">
    </form>
</body>

</html>